.contents_box {
  background-color: aquamarine;
  padding: 1em;
  border-radius: 0.5em;
}

.add_item {
  margin-top: 1em;
  background-color: mediumturquoise;
  padding: 1em;
  border-radius: 0.5em;
}

.deleteBtn {
  margin-left: 1em;
}

.authBtn {
  margin-top: 1em;
}

input {
  margin: 0.4em;
}
